<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/image_gutter_styles.css" | relative_url }}">
</head>
<body>
<div class="container">
    <div class="image-gutter">
        <img src="{{ page.image | relative_url }}" alt="Gutter Image">
    </div>
    <div class="content">
        {{ content }}
    </div>
</div>
</body>
</html>
